<div class="center">
  <div class="info">
    <% if current_user.admin %>
      <p><strong>ADMIN</strong></p>
    <% end %>
    <p><strong>Name: </strong><%= @attraction.name %></p>
    <p><strong>Total Number of Users: </strong><%= @attraction.users.size %></p>
    <p><strong>Ticket Requirement: </strong><%= @attraction.tickets %></p>
    <p><strong>Height Requirement: </strong><%= @attraction.min_height %></p>
    <p><strong>Nausea Rating: </strong><%= @attraction.nausea_rating %></p>
    <p><strong>Happiness Rating: </strong><%= @attraction.happiness_rating %></p>
    <%= form_for @attraction.rides.build do |f| %>
      <%= f.hidden_field :attraction_id %>
      <%= f.submit "Go on this ride" %>
    <% end %>
    <p><%= link_to "Edit Attraction", edit_attraction_path(@attraction) if current_user.admin %></p>
    <p><%= link_to "See attractions", attractions_path %></p>
  </div>
</div>